---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro'
import Navbar from '../layouts/Navbar.astro'
import Main from '../layouts/Main.astro'
import Footer from '../layouts/Footer.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
	<div class="page-wrapper">
		<Navbar />
		<div class="content-wrapper">
			<Main >

			</Main>
			<Footer />
		</div>
	</div>
</Layout>

<style>
	.page-wrapper {
		display: flex;
		position: relative;
	}

	.content-wrapper {
		flex: 1;
		border-left: 2px solid #B1B1B1;
	}

	@media (max-width: 900px) {
		.content-wrapper {
			border-left: none;
		}
	}
</style>
