---

import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Navbar from '../layouts/Navbar.astro';
import Main from '../layouts/Main.astro';
import Footer from '../layouts/Footer.astro';

---

<Layout>
  <Header />
  <div class="page-wrapper">
    <Navbar />

    <div class="content-wrapper">
      <Main>
        <div class="content-container samtykker-page">

          <h1>SAMTYKKER</h1>
          <a href="/" class="back-link">← TILBAGE</a>
    </div>
  </div>
</Layout>

