:root {
    --h1-size: 36px;
    --h2-size: 24px;
    --p-size: 16px;
    --primary-color: #DF1B12;
    --secondary-color: #000523;
    --background-color: #FFFFFF;
    --grey-color: #5B5F62;
}

@font-face {
    font-family: 'TV2';
    src: url('https://fonts.tv2a.dk/TV2.woff2') format('woff2');
    font-weight: 300 700;
    font-display: swap;
}

* {
    font-family: 'TV2', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}
