:root {
    --h1-size: 36px;
    --h2-size: 24px;
    --p-size: 16px;
    --primary-color: #DF1B12;
    --secondary-color: #000523;
    --background-color: #FFFFFF;
    --grey-color: #5B5F62;
}


@font-face {
    font-family: '';
    src: url(./assets/fonts/) format('truetype');
}