<main>
    <slot />
</main>

<style>
    main {
        width: calc(100% - 300px);
        height: 400px;
        background-color: lightblue;
        margin-left: 300px;
    }

    @media (max-width: 900px) {
        main {
            margin-left: 0;
            width: 100%;
        }
    }
</style>